<div class="container">
    <p class="container__subtitle">SENTIMIENTO DE LA POBLACIÓN</p>
    <h2 class="container__title">{{title}}</h2>
    <div class="container__indicator">
        <div class="container__indicator--negative"></div>
        <div class="container__indicator--neutro"></div>
        <div class="container__indicator--positive"></div>
    </div>
    <div class="container__summary">
        <div class="container__summary--negative">
            <label>Negativo</label>
            <img src="./../../../../assets/icons/icon_face-frown.svg" class="icon" alt="icon_face-smile">
            <p>{{data[0].negative}}</p>
        </div>
        <div class="container__summary--neutro">
            <label>Neutro</label>
            <img src="./../../../../assets/icons/icon_face-neutro.svg" class="icon" alt="icon_face-smile">
            <p>{{data[0].neutro}}</p>
        </div>
        <div class="container__summary--positive">
            <label>Positivo</label>
            <img src="./../../../../assets/icons/icon_face-smile.svg" class="icon" alt="icon_face-smile">
            <p>{{data[0].positive}}</p>
        </div>

    </div>
</div>