<div class="container">
    <div class="container__sidebar">
        <img src="./../../../assets/icons/icon.svg" alt="Electoral Insights">
    </div>
    <div class="container__wrapper">
        <div class="container__wrapper--header">
            <form [formGroup]="formSelect">
                <select formControlName="personSelected" class="select" (change)="onChangePerson()">
                    <option value="null" disabled>Elegir personaje político</option>
                    <option *ngFor="let item of person" [ngValue]="item">{{item.name}}</option>
                </select>
            </form>
        </div>
        <div class="wrapper__card">
            <app-card-person-detail [person]="personSelect" class="card"></app-card-person-detail>
            <app-card-indication title="Análisis de las redes sociales" class="card"></app-card-indication>
        </div>
        <div class="wrapper__card">
            <app-card-indication title="Resultado de las encuestas tradicionales" class="card"></app-card-indication>
            <app-card-geography class="card"></app-card-geography>
        </div>
    </div>

</div>